/*
1 creazione del testo e formattazione di 1 parola da far ruotare
2 inserimento delle altre 2 parole
3 sovrapporre le 3 parole
4 mostrare 1 parola e nascondere le altre 2
5 animare 1 parola (fadein - fadeout con spostamento)
6 animare le altre 2 parole
7 ritardare progressivamente l'animazione delle altre 2 parole 
*/
body {
  font-size: 30px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 3rem;
}
i {
  color: #5f8096;
  display: inline-block;
}

#testoAlternato {
  width: 70%;
  border: 5px solid black;
  margin-inline: auto;
  margin-top: 4rem;
  padding: 2rem 1.5rem;
}

.change-words {
  position: absolute;
  margin-left: 10px;
}

.change-words:nth-child(2) {
  opacity: 0;
}
.change-words:nth-child(3) {
  opacity: 0;
}

@keyframes fadeInOut {
}
